@font-face {
  font-family: witcher-font;
  src: url("./fonts/witcher-font.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: witcher-font -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* container */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 0.2fr;
  width: 100vw;
  min-height: 100vh;
  background: no-repeat url("./img/background.jpg") 70%;
  background-size: cover;
}

/* header */

.header {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  font-family: witcher-font;
  background-color: #3a4d69;
  color: white;
}

.game-title {
  font-size: 2rem;
  text-align: center;
}

.game-rules {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.statistics {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}

.game-status {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* Card */
.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.card-img {
  width: 75%;
  border: 5px outset #3a4d69;
}

.card-name {
  color: white;
  font-family: "witcher-font";
  margin-top: 0.3rem;
  font-size: 1.1rem;
  padding: 0.4rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  grid-column: 1/2;
  grid-row: 3/4;
  /* background-color: rgba(0, 0, 0, 0.9); */
  height: 3vh;
  margin-top: auto;
}

.github-link {
  color: white;
  text-decoration: none;
  font-family: witcher-font;
}

.github-logo {
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
}

/* Desktop Styles */

@media (orientation: landscape) {
  .cards-container {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
